body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    margin-top: 50px;
}

.calculator {
    width: 400px;
    height: 600px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    background-color: rgb(114, 163, 167);
}

.display {
    display: grid;
    justify-items: end;
    width: 360px;
    border-radius: 10px;
    margin: 30px 0 30px;
    height: 150px;
    border: 1px solid black;
    background-color: lightgrey;
    overflow: hidden;
}

.history, .input {
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    margin: 0;
}

.input {
    font-size: 36px;
    align-self: end;
    overflow: hidden;
    padding: 0 10px 5px 10px;
}

.history {
    padding: 10px 10px 0 0;
    font-size: 20px;
    overflow: hidden;
    white-space: nowrap;
}

.btngrid {
    width: 90%;
    margin: 0 0 20px;
    height: 80vh;
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
}

button {
    background-color: rgb(224, 220, 220);
    font-size: 20px;
    border-radius: 10px;
}

#clear {
    grid-column: 1 / span 2;
    background-color: rgb(230, 102, 102);
    font-weight: bold;
}

#backspace {
    grid-column: 3 / span 2;
    background-color: rgb(76, 94, 173);
    font-weight: bold;
}